.terminal {
    background-color: black;
    font: bold;
    width: 100%;
    height:100vh;
    overflow-x: hidden;
    overflow-y: visible;

    font-family: Lucida, Monospace;
    font-size: 1.5em;
    font-weight: bold;
}
.white-text {
    color: white;
}
input.cmd {
    border: none;
    outline: none;
    background: transparent;
    display: inline-block;
    width: 80%;
    height: 28px;
    padding: 0;
    color: white;
    font-family: Lucida, Monospace;
    font-size: 1em;
    font-weight: bold;
}
.prompt {
    color: green;
}