<div #terminal class="terminal white-text" (click)="giveFocus()">
  <div *ngFor="let line of lines"><span *ngIf="line.prompt" class="prompt">{{ prompt }}</span>{{ line.content }}</div>
  <span class="prompt">{{ prompt }}</span><input #cmd class="cmd" (keydown)="onPressCtrl($event)" (keydown.tab)="onPressTab($event, cmd.value)" (keydown.enter)="onPressEnter(cmd.value)" (keydown.arrowup)="onPressArrowUp()" (keydown.arrowdown)="onPressArrowDown()" autofocus spellcheck="false" autocapitalize="off" autocorrect="off" />
</div>
